{%extends 'base.html'%} {%block title%} About {%endblock%} {%block body%}

<div class="container mt-5">
  <h1>About Todo App</h1>
  <p>
    Hello, I'm Najam Ali Abass, the creator of this Todo App. I developed this
    app using Flask and Bootstrap to help you manage your tasks efficiently.
  </p>
  <p>
    With this app, you can easily add, edit, and delete tasks, making it simple
    to stay organized and keep track of your to-do list.
  </p>
  <p>
    Thank you for using my app! If you have any questions or feedback, please
    feel free to <a href="https://github.com/Ctoic">contact me</a>.
  </p>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock body%}
