<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
    <script
      src={{url_for('static', filename='js/test.js')}}> </script>
    <title>
        {%block title%}
        {%endblock title%}- Mytodo
    </title>
  </head>
  <body>
{%include "navbar.html"%}
    {%block body%}



    {%endblock body%}



  </body>
{% include "footer.html" %}

    <!-- End row -->


 
  </div>
  <!-- End of .container -->


  </html>

